#playlist-div {
   //  height: auto;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-flow: row wrap;
   // padding-left: 6%;
   // padding-right: 6%;
}

#playlist-div::after {
   content: '';
   width: 212px;

}

