#playlist-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(270deg,rgb(129, 20, 48),rgba(100, 32, 35, 0.685));
}

#playlist-show-header {
    
}

#playlist-show-songs {

}

