.featured-show-lower {
    //     padding-left: $side_nav_width;
    // padding-bottom: $play_bar_height;
    height: auto;
}

.featured-show-div {
    width: 100%;
    font-weight: bold;
    min-height: 100vh;
    height: auto !important;
    min-height: 911px;
    color: white;
}