.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-main {
    position:fixed;
    background-color: #282828;
    color: #FFFFFF;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    margin-top: 30px;
}

.display-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.display-none {
  display: none;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #FFFFFF;
    // padding-bottom: 50px;
}
.modal-close{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;

}

.modal-close-button {
    background-color: transparent;
    border: none;
}

.modal-buttons{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input-box-label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-bold);
    color: #fff;
    text-transform: none;
    margin-bottom: .5em;
    padding-left: 14px;
}

.input-box{
    padding: 32px 8%; 
}

.content-spacing {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
}

.create-playlist-input {
    background-color: #282828;
    border: none;
    color: #FFF;
    caret-color: #1db954;
    font-size: 48px;
    position: relative;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    font-weight: bold;
    padding-bottom: 10px;
}

#create-playlist-btn {
    background-color: $green;
    border: none;
    color:#fff;
    border-radius: 25px;
    text-align: center;
    text-decoration: none; 
    display: block;
    font-size: 11px;
    padding: 7px 22px;
    justify-content: center;
    font-weight: normal;
    margin-left: 30px;
}

#cancel-playlist-btn {
    background-color: rgba(0,0,0,.3);
    color:#fff;
    border-radius: 25px;
    text-align: center;
    text-decoration: none; 
    display: block;
    font-size: 11px;
    padding: 7px 22px;
    justify-content: center;
    font-weight: normal;
    margin-right: 30px;
}

