.album-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;

}

a.album-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    outline: none;
}

#album-photo {
    height: 100%;
    width: 100%;
}

a#album-name-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 4px;

}

a#album-artist-name-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    opacity: .6;
    // z-index: 2;

}

.album-btn {
    height: 212px;
    width: 212px;
    // height: 100%;
    // width: 100%;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0px;
}