 .main-greeting-div {
    display: flex;
    background-color: yellow;

 }

 .header-div {
    display: flex;
    flex-direction: column;
    height: 115px;
    border-bottom: rgb(204, 204, 204);
    border-style: solid;
    border-bottom-width: thin;

 }


#Camify {
    font-weight: bold;
    color: black;
    font-size: 35px;
    text-decoration:  none;
    height: 46px;
    padding-left: 5px;
    padding-top: 14px;

}

#login-logo {
   background-image: image-url("download3.png");
   height: 64px;
   width: 64px;
   background-size: contain;
   margin-right: auto;
}
 
 #camify-logo-link {
   display: flex;
   // flex-direction: column;
   align-items: center;
   height: 1000px;
 }

 .header-sub-div {
    display: flex;
   align-items: center;
    justify-content: center;
 }

 #header-sub-sub-div{
    display: flex;
    align-items: center;
    justify-content: center;

 }