 .main-greeting-div {
    display: flex;
    background-color: yellow;

 }

 .main-header {
    display: flex;
    flex-direction: column;
 }

 .logo-div {
   display: flex;
   background-image: image-url("spotify_logo.png");
}
