 

#library-main {
    padding-left: $side_nav_width;
    padding-bottom: $play_bar_height;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: center;
    color: white;
    background:linear-gradient(270deg,rgb(129, 20, 48),rgba(100, 32, 35, 0.685));
} 

li.nav-li {
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 20%;
    width: 100%;
}


.lib-link {
    color: #b3b3b3;
    letter-spacing: .015em;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.lib-link:hover {
    color: white;
    transition: .4s;
}

#library-button {
  background-color: $green;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 4px 2px;
  justify-content: center;
  font-weight: bold;
  height: 16px;
}

#nav-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    // height: 20%;
}

.nav-li-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: auto;
}

#new-playlist-btn-div {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

#new-playlist-btn {
    background-color: $green;
    border: none;
    color:#fff;
    border-radius: 25px;
    text-align: center;
    text-decoration: none; 
    display: block;
    font-size: 11px;
    padding: 7px 22px;
    justify-content: center;
    font-weight: normal;
}

