 li.song-li {
    
    padding: 10px;
    width: 100%;
    list-style-type: none;
    font-size: 16px;
    font-weight: normal;
}

.song-div{
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
}