.delete-modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 100px;
    height: auto;
}