.artist-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 32px;
    padding: 0 6%;
    -webkit-filter: brightness(100%);
}

.artist-div:hover {
    -webkit-filter: brightness(70%);
    transition: all .2s ease;
}


a.artist-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    outline: none;
}

#artist-photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

a#artist-name-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 4px;

}

a#artist-artist-name-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    opacity: .6;
    // z-index: 2;

}

.artist-btn {
    height: 212px;
    width: 212px;
    // height: 100%;
    // width: 100%;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0px;
    border-radius: 50%;
    box-shadow: 3px 3px 15px rgb(0, 0, 0);
}
