.artist-show-div {
    // padding-left: 230px;
    // padding-bottom: 90px;
    // min-height: 100vh;
    // height: auto !important;


    width: 100%;
    font-weight: bold;
    min-height: 100vh;
    height: auto !important;
    // display: flex;
    // flex-direction: column;
    // height: auto;
    min-height: 911px;
    // justify-content: space-around;
    // align-items: center;
    color: white;
    // background: linear-gradient(270deg, #811430, rgba(100, 32, 35, 0.685));
    background-image: linear-gradient(to bottom, rgb(46, 39, 40), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

#artist-name {
    font-size: 72px;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    display: flex;
    align-items: center;
    margin-top: 140px;
    // position: relative;
    // position: absolute;
}

.artist-show-body {
    width: 100%;
    padding-left: $side_nav_width;
    padding-bottom: $play_bar_height;
    display: flex;
    justify-content: center;
}

.artist-header {
    // background: linear-gradient(transparent -30%,#181818);
    // display: flex;
    // justify-content: center;
    padding-left: $side_nav_width;
    padding-bottom: $play_bar_height + 90;
    // background-image:image-url("artist_photos/ts_show.jpeg");
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // position: relative;
    // bottom: 50px;
}

#T {
    background:linear-gradient(to bottom, rgba(14,14,14, 0), rgb(26, 24, 25)), 
    image-url("artist_photos/ts_show.jpeg");
}



#S {
    // background-image: linear-gradient(to bottom, rgb(46, 39, 40), rgb(0, 0, 0)), 
    // linear-gradient(transparent, rgb(0, 0, 0) 70%);


    background:linear-gradient(to bottom, rgba(14,14,14, 0), rgb(26, 24, 25)), 
    image-url("artist_photos/srv_artist_photo2.jpg");
} 

#L {
    background:linear-gradient(to bottom, rgba(14,14,14, 0), rgb(26, 24, 25)), 
    image-url("artist_photos/lil_wayne_artist_photo.jpeg");
}
#C {
    background:linear-gradient(to bottom, rgba(14,14,14, 0), rgb(26, 24, 25)), 
    image-url("artist_photos/cr_show.png");
}

#J {
    background:linear-gradient(to bottom, rgba(14,14,14, 0), rgb(26, 24, 25)), 
    image-url("artist_photos/jimi.jpg");
}

#artist-show-photo {
    // z-index: ;
    background: linear-gradient(transparent -30%,#181818);
    width: 100%;
    // z-index: -1;
    // position: absolute;
    // position: relative;
}


#artist-show-button {
    display: flex;
    align-items: center;
    // height: 39px;
    margin-top: 40px;
    margin-bottom: 40px;


}

.artist-show-lower {
    padding-left: $side_nav_width;
    padding-bottom: $play_bar_height;
    height: auto;
    // display: flex;
    // flex-direction: column;
}

#artist-show-index {
    display: flex;
    padding-bottom: 32px;
}

h2.artist-show-header {
    height: auto;
    font-size: 36px;
    margin: 24px 0;
    padding: 0 6%;
}

