#play-bar {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: black;
    width:100%;
    height:$play_bar_height;
    background-color: #282828;
    color: #b3b3b3;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

#buttons {
    display: flex; 
    align-items: center;
    
}

.control-button#play {
    background-image: image-url("play6.jpg");
    // background: transparent;
    background-size: contain;
    height: 32px;
    width: 32px;
    z-index: 1;
    border-radius: 50%;
}  

// .control-button#play:before {
//     content: "\f051";
// }

#react-player {
    display: none;
    visibility: hidden;
}

#play-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-bar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}