#search-main {
    padding-bottom: $play_bar_height;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: $home_library_header_height;
    justify-content: space-around;
    align-items: center;
    color: white;
    background:linear-gradient(270deg,rgb(30, 15, 112),rgba(52, 74, 145, 0.795));
}