 .song-div{
    display: flex;
    color: #FFFFFF;
    align-content: center;
    height: auto;
    // padding: 10px;
    // padding-left: 40px;
    // padding-right: 40px;
    padding: 0 6%;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: normal;
}

.song-div-inner {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    opacity: .85;
}

.song-div-inner:hover {
    background-color: rgba(0,0,0,.35);
    transition: .4s;
}
.song-div .song-play-btn {
    // display: none;
    // background-size: contain;
    height: 20px;
    width: 20px;
    // z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
}
.song-div:hover .song-play-btn {
    // display: inline;
}

.fa-2x {
    // font-size: 1.33333333em;
    line-height: .05;
    vertical-align: -15%;
}

.fa-2x:hover {
    font-size: 2.4em;
}


.song-ellipses {
    content: "\f12c";
    font-size: 24px;
    font-family: glue1-spoticon;
    background: none;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 11px;
    justify-self: flex-end;
}
#song-ellipses-div {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

#song-name {
    display: flex;
    align-items: center;
    padding-left: 13px;
}