 .song-div{
    display: flex;
    color: #FFFFFF;
    align-content: center;
    height: auto;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: normal;
}

.song-div:hover {
    background-color: rgba(0,0,0,.6);
    transition: .4s;
}
.song-div .song-play-btn {
    // display: none;
    background-image: image-url('play6.jpg');
    background-size: contain;
    height: 20px;
    width: 20px;
    // z-index: 1;
    border-radius: 50%;
    padding-right: 5px;
    
}
.song-div:hover .song-play-btn {
    display: inline;
}


.song-ellipses {
    content: "\f12c";
    font-size: 24px;
    font-family: glue1-spoticon;
    background: none;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 11px;
    justify-self: flex-end;
}
#song-ellipses-div {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

#song-name {
    display: flex;
    align-items: center;
    padding-left: 13px;
}