.main-form-div {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 20px;
}

.login-signup-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    height: 400px;
}

input {

    width: 100%;
}

li {
    flex: display;
    padding: 10px;
    align-items: center;
    height: 15%;
    width: 100%;
}

#login-submit-button {
  background-color: $green;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  justify-content: center;

}


