.main-form-div {
    display: flex;
    justify-content: center;
    // height: 100%;
    padding-top: 5px;
}

.login-signup-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 400px;
    padding-top: 22px;
}

#or {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    border-top: 1px solid #d9dadc;
    width: 450px;
    margin: 15px 0;
}

input {
    width: 100%;
    height: 41px;
    text-indent: 10px;
}

input.login {
    height: 34px;
    width: 450px;
}

li.session-li {
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 20%;
    width: 100%;
}

#input-list {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#demo-button-div {
    width: 450px;
    height: 48px;
    display: flex;
    justify-content: center
}

#login-submit-button {
  background-color: $green;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 4px 2px;
  justify-content: center;
  width: 320px;

}

#login-submit-button2 {
  background-color: $green;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 4px 2px;
  justify-content: center;
  width: 100%;
  height: 48px;

}

.switch-to-signup {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.switch-to-login {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

#switch-to-login-link {
    text-decoration: none;
    color: $green;

}

#switch-to-signup-text {

    padding-top: 20px;
    font-size: 18px;

}

li#text-border {
    border-top: rgb(204, 204, 204);
    border-style: solid;
    border-top-width: thin;
    padding: 25px;
    width: 400px;
}

#switch-to-signup-button {
    background-color: transparent;
    border-width: 2px;
    border-color: rgba(49, 45, 45, 0.884);
    border-style: double;
    color: rgba(49, 45, 45, 0.884);
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    width: 450px;
    height: 48px;
}

#demo-button {
    background-color: $blue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    justify-content: center;
    width: 100%;
    height: 48px;
}

#sign-up-msg {
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

#login-msg {
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 16px;
    padding-bottom: 5px;
}

#second-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
