.app-div {
    flex: display;
    justify-content: center;
    // background:linear-gradient(270deg,rgb(129, 20, 48),rgba(100, 32, 35, 0.685));
    background-color: white;
    // border-style: solid;
    // border-color: black;
    // border-width: 1px;
    // height: 10%;
} 


#login-signup {
    color: black;
}