#errors-div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    color: white;
    background-color: orange;
    font-size: 13px;
}
#errors-div-blank {
    height: 1px;
}


