#play-bar {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: black;
    width:100%;
    height:$play_bar_height;
    background-color: #282828;
    color: #b3b3b3;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

#buttons {
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.control-button#play {
    background-size: contain;
    height: 32px;
    width: 32px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}  

button.control-button {
    background-size: contain;
    height: 32px;
    width: 32px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#react-player {
    display: none;
    visibility: hidden;
}

#play-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-bar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-2x-playbar {
    // font-size: 1.33333333em;
    // line-height: .05;
    position: relative;
    bottom: 6px;
    vertical-align: -15%;
    font-size: 2.6em;
}

.fa-2x-playbar:hover {
    font-size: 3em;
}

div#play-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#play-bar-artist {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    text-align: left;
}

div#play-bar-song {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    color: #FFFFFF;
    opacity: .85;
}

div#play-bar-song-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14px;
}

div#play-bar-album-img {
    display: flex;
    align-items: center;
}

#album-photo-play-bar {
    height: 56px;;
}