#play-bar {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: black;
    width:100%;
    height:$play_bar_height;
    background-color: #282828;
    color: #b3b3b3;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

#buttons {
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.control-button#play {
    background-size: contain;
    height: 32px;
    width: 32px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}  

button.control-button {
    background-size: contain;
    height: 32px;
    width: 32px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#react-player {
    display: none;
    visibility: hidden;
}

#play-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-bar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-2x-playbar {
    // font-size: 1.33333333em;
    // line-height: .05;
    position: relative;
    bottom: 6px;
    vertical-align: -15%;
    font-size: 2.6em;
    border-radius: 50%;
    // border: 1px solid hsla(0,0%,100%,.6);
}

.fa-2x-playbar:hover {
    font-size: 3em;
    opacity: 1;
    // border: 1px solid rgba(255, 255, 255, 1);
}

div#buttons {
    opacity: .6;
}

div#next-btn {
    background-image: image-url("next6.png");
    height: 32px;
    width: 32px;
    background-size: contain;
}
div#prev-btn {
    background-image: image-url("prev.png");
    height: 32px;
    width: 32px;
    background-size: contain;
}

div#play-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
}

div#play-bar-artist {
    color: #b3b3b3;
    opacity: .85;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
}

div#play-bar-song {
    color: #FFFFFF;
    opacity: .85;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
}

#play-bar-song-link {
    position: relative;
    top: 23px;
}

div#play-bar-song-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14px;
}

div#play-bar-album-img {
    display: flex;
    align-items: center;
}

#album-photo-play-bar {
    height: 56px;
}

.play-bar-link#play-bar-artist-link {
    cursor: pointer;
    height: 50%;
    text-decoration: none;
    outline: none;
    color: #b3b3b3;
    opacity: .85;
}

.play-bar-link#play-bar-song-link {
    cursor: pointer;
    height: 50%;
    text-decoration: none;
    outline: none;
    color: #fff;
    // opacity: .85;
}

#play-bar-album-photo-link {
    cursor: pointer;
    height: 56px;
}

.play-bar-link:hover {
    color: #FFFFFF;
    border-bottom: 1px solid;
}


div#play-bar-center {
    display: flex;
    flex-direction: column;
    width: 45%;
}

div#controls {
    height: 70%;    
}

div.progress-time {
    font-size: 11px; 
    line-height: 16px;
    letter-spacing: .015em;
    min-width: 40px;
    text-align: center;
    color: #B3B3B3;
}

div#song-slider {
    width: 70%;
}

div#progress {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}

input {
    height: auto;
}

button.prev-next-button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
}