 #side-nav {
  width: $side_nav_width;
  color: #B3B3B3;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;

//   background-color: rgba(0,0,0,.8);
  background-color: rgba(0,0,0,0);
  height: calc(100vh - 90px);
}

#side-nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background-color: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    
}

.side-nav-link a {
    color: #B3B3B3;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    height: 20px;
    outline: none;
}

#home.side-nav-link {
    
}



.side-nav-menu {
    background: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    width: $side_nav_width;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    flex-direction: column;
    height: auto;

}

.side-nav-header {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 0 24px;
    padding-top: 24px;
    height: auto;
    padding-bottom: 18px;
}

#Camify-logged-in{
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    height: 46px;
    padding-right: 20px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

#login-logo-logged-in {
   background-image: image-url("Camify.png");
   height: 42px;
   width: 42px;
   background-size: contain;
   outline: none;
}

#logout-div {
    // background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
    padding: 0 24px;
    // padding-top: 100%;
    height: auto;
    // flex-grow: 1;
}

#logout-div a{
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    text-decoration: none;
    color: #B3B3B3;
    padding-bottom: 15px;
}

#avatar-div {
    // background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    // justify-content: center;
    font-size: 14px;
    color: #FFFFFF;
    border-top: 1px solid #404040;
    padding: 15px 24px;
    height: auto;
    // margin-bottom: auto;
    // flex-grow: 1;
    // position: fixed;
    // // left: 0;
    // bottom: $play_bar_height;
}

img#user-photo {
    border-radius: 50%;
}

#user-photo {
    height: 60px;
    width: 60px;
    
}

#user-name {
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.ellipsis-one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1px;
    margin-right: -1px;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    padding-top: 8px;
    width: 170px;
    display: block;
    line-height: normal;
}

#recently-played {
    background: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    width: $side_nav_width;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    height: auto;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 80px;

}

#recently-played-header {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: normal;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    padding-top: 1px;
    display: block;
}

.recently-played-type {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: normal;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    padding-top: 3px;
    display: block;

}


.side-nav-link {
    height: 40px;
    display: flex;
}

.icon-img {
    padding-top: 10px;
}

.recently-played-item {
    padding-top: 6px;
    padding-bottom: 6px;
    height: auto;
}

a.info-link {
    cursor: pointer;
    text-decoration: none;
    color: #B3B3B3;
}
