#splash-button {
  background-color: $green;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 16px;
  text-align: center;
  text-decoration: none; 
  display: block;
  font-size: 14px;
  margin: 4px 2px;
  justify-content: center;
  font-weight: bold;
  height: 14px;
  width: 228px;
}
         
#splash-div {
    font-weight: bold;
}

#splash-lower {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 90vh;
    position: fixed;
    // background-image: image-url("hero-burst.svg");
    background:linear-gradient(0deg,rgba(231, 7, 74, 0.815),rgba(228, 200, 45, 0.836)), image-url("hero-burst.svg");
    // background:white;
}

#small-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-top: 21px;
    padding-bottom: 24px;
}

#upper-left-logo{
  outline: none;
}


#big-text {
    display: flex;
    align-items: center;
    padding-top: 30%;
    font-size: 80px;
    font-weight: 900;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

#splash-link {
    display: flex;
    align-items: center;
    padding-bottom: 30%;
}

.topnav a {
  float: right !important;
  // color: #f2f2f2;
  color: #D9DADC;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  height: 10px;
}

.splash-logo {
   background-image: image-url("Camify.png");
   height: 40px;
   width: 40px;
   background-size: contain;
   margin-right: auto;
   margin-left: 15%;
   display: flex;
   align-items: center;
  //  flex-direction: column;
}

#Camify-splash {
    font-weight: bold;
    color:#fff;
    font-size: 24px;
    text-decoration:  none;
    height: 46px;
    padding-left: 13px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    outline: none;

}

.topnav {
    background: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    width: 100%;
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    z-index: 2;
}
  
#topnav-link {
    display: flex;
    align-items: center;
}

.last {
  margin-right: 15%
}

div > logo {
  justify-content: flex-start;
}

.topnav a:hover {
  color: $green;
  transition: .34s;
}

#splash-footer {
    background-color: #000;
    height: 10vh;
    // padding-bottom: 3vh;
    // padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-camify-logo {
  padding-left: 4%;

   margin-right: auto;
   display: flex;
   align-items: center;
}

#bottom-left-logo {
  outline: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

div#footer-img {
    background-image: image-url("Camify.png");
    height: 40px;
    width: 40px;
    background-size: contain;
    display: flex;
}

div#footer-camify {
  height: 40px;
  width: 40px;
}

div#footer-icons {
  padding-right: 4%;
  display: flex;
  align-items: center;
  color:#fff;
  font-size: 35px;
  
}

.devicon-github-plain {
  font-size: 35px;
}

a#linkedin {

}

a.footer-link {
  cursor: pointer;
  height:40%;
  text-decoration: none;
}

i#github{
  display: flex;
  align-items: center;
  padding-right: 30px;
  color: #FFFFFF;
}

i#linkedin{
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

#Camify-splash-footer{
    font-weight: bold;
    color:#fff;
    font-size: 24px;
    text-decoration:  none;
    height: 46px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    outline: none;
}
