.album-show-div {
    padding-left: $side_nav_width;
    padding-bottom: $play_bar_height;
    min-height: 100vh;
    height: auto !important;
    background-image: linear-gradient(to right bottom, rgb(20, 23, 133), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    // background-image: linear-gradient(to right bottom, rgb(20, 23, 133), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

div#album-photo-div { 

    height: 200px;
    width: 200px;
}

.contentSpacing {
    padding: 0 32px;
    padding-top: 32px;
    margin: 0 auto;
    max-width: 1480px;
}

div#album-name {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: bold;
    color: #fff;
    text-transform: none;
    padding-bottom: 6px;
}

#dot-separator {
    position: relative;
    bottom: 3px;
    font-size: 18px;
    padding: 0 8px;
}

div#album-show-artist-name {
    color: #fff;
    opacity: .6;
    font-size: 14px;
}

.album-song-links {
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30%;
    opacity: .5;
    display: inline;
}

a.album-song-links:hover {
    outline: none;
    color: #FFFFFF;
    border-bottom: 1px solid;
    opacity: .9;
    

}

#album-info-top {
    display: flex;
    flex-direction: column;
    height: 60%;
}

div.album-header {
    display: flex;
    padding-bottom: 62px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-bottom-width: thin;
}

#album-show-buttons {
    display: flex;
    height: 39px;
    // flex-direction: column; 
}

div#album-info-div {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: 200px;
    justify-content: space-between;
}

.album-show-header-link {
    height: 20%;
}