.album-show-div {
    padding-left: $side_nav_width;
    padding-bottom: $play_bar_height;
    min-height: 100vh;
    height: auto !important;
    background-image: linear-gradient(to right bottom, rgb(20, 23, 133), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

div#album-photo-div {
    height: 10%;
}

.contentSpacing {
    padding: 0 32px;
    padding-top: 32px;
    margin: 0 auto;
    max-width: 1480px;
}

div#album-name {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: bold;
    color: #fff;
    text-transform: none;
}

div#artist-name {
    color: #fff;
    opacity: .6;
    font-size: 14px;
}